<div class="d-flex justify-content-center align-items-center vh-100">
    <mat-card class="w-100 p-3" style="max-width: 550px;">
        <div>
            <form class="formContainer" [formGroup]="signupform" (ngSubmit)="create()">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="Username" required>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" required>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Select Role</mat-label>
                    <mat-select formControlName="roleId" class="w-100">
                        <mat-option *ngFor="let role of roles" [value]="role.roleId" class="full-width-option">
                            {{role.roleName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="text-center mt-3">
                    <button mat-raised-button color="primary" class="w-100">Add User</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <span>Already logged in? <a routerLink="/" class="text-primary">Log in</a></span>
            </div>
        </div>
    </mat-card>
</div>
